.program-structure__hours {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
  font-weight: bold;
  color: var(--title-color);
}
.program-structure__hours_type_main {
  color: var(--main-color);
}
.program-structure__hours_type_success {
  color: var(--secondary-color);
}
.program-structure__hours_type_error {
  color: var(--third-light-color);
}
