.multi-answer {
  margin: 0px 0px 15px 0px;
  display: flex;
  align-items: center;
}
.multi-answer__checkbox {
  margin: 0px;
}
.multi-answer__checkbox input + span {
  margin-top: -10px;
}
.multi-answer__input {
  margin: 0px 0px 0px 10px;
  background-color: #fff;
  border-radius: 100px;
  padding: 10px 20px 10px 20px;
  width: calc(100% - 120px);
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15px;
  color: var(--title-color);
  border: 2px solid var(--border-card-color);
}