.nsi-popup__title {
  font-size: 24px;
}
.nsi-popup__list {
  display: flex;
  flex-direction: column;
  margin: 20px auto 0px 0px;
  list-style-type: none;
  padding: 0px;
  width: 100%;
}
.nsi-popup__item {
  margin: 0px 0px 15px 0px;
}
.nsi-popup__item:last-of-type {
  margin: 0px;
}
.nsi-popup__item-title {
  margin: 0px 10px 5px 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3;
  color: var(--title-color);
}
.nsi-popup__item-input::placeholder {
  font-size: 12px;
  line-height: 1.3;
}