.initial-data__list {
  margin: 30px 0px 0px 0px;
  list-style-type: none;
  padding: 0px;
  display: grid;
  
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-auto-rows: min-content;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.initial-data__item {
  margin-bottom: 40px;
  background-color: var(--white-color);
  border: 2px solid var(--border-card-color);
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  padding: 30px;
  margin: 0px 5px 40px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .3s ease-in-out;
  position: relative;
}
.initial-data__item_type_basis {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 6;
}
.initial-data__item_type_requirements {
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 3;
}
.initial-data__item_type_target {
  grid-row-start: 2;
  grid-column-start: 3;

  grid-row-end: 3;
  grid-column-end: 6;
}
.initial-data__item_type_structure {
  grid-row-start: 3;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 6;
}
.initial-data__item_type_info {
  grid-row-start: 4;
  grid-column-start: 1;

  grid-row-end: 5;
  grid-column-end: 6;
}

.initial-data__item-name {
  margin: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  color: var(--title-color);
}
.initial-data__item-title {
  margin: 20px auto 0px 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  text-align: left;
  color: var(--title-color);
}
.initial-data__item-subtitle {
  margin: 10px auto 0px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  text-align: left;
  color: var(--subtitle-color);
}
.initial-data__basis-list {
  margin: 30px auto 0px;
  max-width: 1280px;
  width: 100%;
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.initial-data__basis-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  min-width: 300px;
  margin: 0px 10px;
}
.initial-data__basis-item:last-of-type {
  margin-bottom: 0px;
}
.initial-data__basis-img {
  width: 75px;
  height: 75px;
  object-position: center;
  object-fit: contain;
  margin: 0px;
}
.initial-data__item-subtitle_type_basis {
  margin: 10px 0px 0px 0px;
  text-align: center;
}
.initial-data__item-subtitle_type_info {
  text-align: center;
  margin: 10px auto 0px;
  max-width: 700px;
}
.initial-data__item-subtitle_type_structure {
  text-align: center;
  margin: 10px auto 0px;
  max-width: 900px;
}
.initial-data__basis-name {
  margin: 10px 0px 0px 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  max-width: 160px;
}
.btn_type_basis {
  margin: 5px 0px 0px 0px;
  color: var(--white-color);
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 1.2px;
  padding: 5px 22.5px 5px 8.5px;
  max-width: max-content;
  outline: none;
  transition: .3s ease-in-out;
  position: relative;
  background-color: var(--secondary-color);
}
.btn_type_basis:hover {
  opacity: .7;
  cursor: pointer;
}
.btn_type_basis::before {
  content: '';
  background-image: url('../../../../images/add.png');
  background-size: 10px;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 7px;
  top: 9px;
  z-index: 5;
}
.initial-data__basis-el-list {
  list-style-type: none;
  padding: 0px;
  margin: 10px 0px 0px 0px;
  display: flex;
  flex-direction: column;
}
.initial-data__basis-el {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  max-width: 200px;
}
.initial-data__basis-el:last-of-type {
  margin-bottom: 0px;
}
.initial-data__basis-el-name {
  margin: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
}
.initial-data__basis-el-code {
  margin: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
}
.initial-data__item-requirements-list {
  margin: 0px auto 0px 0px;
  padding: 0px;
  list-style-type: none;
}
.initial-data__item-qualification-text {
  resize: none;
  width: calc(100% - 20px);
  min-height: 160px;
  padding: 10px;
  margin: 10px 0px 0px 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.3;
  color: var(--title-color);
  border: 2px solid var(--border-card-color);
  border-radius: 3px;
  transition: .3s ease-in-out;
}
.initial-data__item-qualification-text:focus {
  border: 2px solid var(--main-color);
  outline: none;
}
.initial-data__item-qualification-text::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: var(--border-card-color);
}
.initial-data__item-target-tasks {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  position: relative;
}
.initial-data__item-target-task {
  margin: 15px auto 0px 0px;
  padding-left: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  text-align: left;
  color: var(--subtitle-color);
  position: relative;
}
.target-task_type_first::before {
  content: '';
  background-image: url('../../../../images/knowledge.png');
  background-size: 28px;
  width: 28px;
  height: 28px;
  position: absolute;
  left: 2px;
  top: 3px;
  z-index: 5;
}
.target-task_type_second::before {
  content: '';
  background-image: url('../../../../images/achievement.png');
  background-size: 24px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 2px;
  top: -2px;
  z-index: 5;
}
.initial-data__item-target-list {
  margin: 0px auto 0px 0px;
  padding: 0px;
  list-style-type: none;
}
.initial-data__buttons {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px 0px 0px;
  position: relative;
}
.initial-data__info-list {
  padding: 0px;
  list-style-type: none;
  margin: 30px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.initial-data__info-item {
  background-color: var(--background-secondary-color);
  border: 1px solid var(--border-card-color);
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  border-radius: 10px;
  transition: .3s ease-in-out;
  width: 400px;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.initial-data__info-top {
  margin: 0px;
  display: flex;
  align-items: center;
  padding: 20px;
  min-height: 120px;
}
.initial-data__info-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  object-position: center;
  margin-right: 20px;
}
.initial-data__info-name {
  margin: 0px;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  max-width: 240px;
  color: var(--title-color);
}
.initial-data__info-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-top: 1px solid #e5e6ed;
}
.initial-data__info-count {
  font-size: 16px;
  line-height: 20px;
  margin: 0px;
}
.initial-data__info-btn {
  background-color: var(--third-light-color);
  color: var(--white-color);
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  text-align: center;
  letter-spacing: 1.5;
  padding: 3px 10px;
  outline: none;
  transition: .3s ease-in-out;
  position: relative;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}
.initial-data__info-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.initial-popup__title {
  margin: 0px 0px 30px 0px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.3;
  max-width: 550px;
  color: var(--title-color);
}
.initial-popup__control {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.initial-popup__btn-add {
  margin: 0px;
}
.initial-popup__btn-add_type_show {
  border-radius: 0px;
}
.initial-popup__btn-add_type_hide {
  border-radius: 5px;
}
.initial-popup__btn-add_type_hide::after {
  transform: rotate(0deg);
}
.initial-popup__btn-add_type_show::after {
  transform: rotate(180deg);
}
.initial-popup__search {
  display: flex;
}
.initial-popup__search-input {
  margin: 0px 0px 0px 20px;
}
.initial-popup__list {
  margin: 30px 0px 0px 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 50vh;
  overflow-y: auto;
}
.initial-popup__item {
  margin: 0px 0px 15px 0px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  background-color: var(--white-color);
  border: 2px solid var(--border-card-color);
  box-sizing: border-box;
  border-radius: 10px;
  transition: .3s;
}
.initial-popup__item:hover {
  border: 2px solid var(--main-color);
}
.initial-popup__checkbox {
  margin: 0px 0px 15px 0px;
}
.initial-popup__info {
  display: flex;
  flex-direction: column;
  margin: 0px 30px 0px 20px;
}
.initial-popup__name {
  margin: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  color: var(--title-color);
}
.initial-popup__code {
  margin: 5px 0px 0px 0px;
  padding: 3px 12px;
  color: var(--white-color);
  border-radius: 3px;
  letter-spacing: 1.2px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  pointer-events: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: -webkit-max-content;
  width: max-content;
  background-color: var(--secondary-color);
}
.initial-popup__button-edit {
  width: 40px;
  height: 40px;
  margin: 0px 0px 0px auto;
  background-color: var(--main-color);
  padding: 0px;
  border-radius: 5px;
  background-image: url('../../../../images/edit.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
  outline: none;
}
.initial-popup__button-edit:hover {
  cursor: pointer;
  opacity: .7;
}
.initial-popup__btn-save {
  margin: 20px auto 0px 0px;
}
.initial-popup__add {
  margin: 0px;
  width: 100%;
  background-color: var(--main-color);
  overflow-y: hidden;
  transition: .3s ease-in-out;
}
.initial-popup__add-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.initial-popup__add-input {
  width: calc(100% - 60px);
  justify-content: space-between;
  padding: 15px 30px;
  border-radius: 100px;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.15px;
  color: var(--title-color);
  letter-spacing: 1.2px;
  margin: 0px 0px 10px 0px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}
.initial-popup__add-input:last-of-type {
  margin: 0px;
}
.initial-popup__add-input::placeholder {
  font-size: 14px;
}